:root {
  --foreground: #222222;
  --background: #eeeeee;
  --secondary: #808080;
  --tertiary: #dddddd;
  --post-code-color: #444;
  --post-code-bg-color: #F3F3F3;
  --accent: #171746;
  --accent-highlight: #3d3cba;
  --border-color: #E1E1E1;
  --post-img-border-shadow: #666;
  --post-blockquote-color: #666;
  --post-blockquote-bg-color: #F9F9F9;
  --post-blockquote-border-color: #DDD;
}