@import "theme";

html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 2em 25%;
}

.header-links {
  a {
    color: var(--accent);
    margin-right: 0.5em;
  }

  a:last-of-type {
    margin-right: 0;
  }
}

.base-title {
  h1 {
    font-size: 28px;
  }
}

.article-list {
  font-size: 16px;

  .article-item {
    margin-top: 4px;

    .article-date {
      display: inline-block;
      @media all and (max-width: 800px) {
        display: none;
      }
      opacity: 0;
      font-size: 75%;
      color: var(--secondary);
      margin-left: 4px;
      transition: opacity 0.3s;
    }


    a {
      color: var(--accent-highlight);
      text-decoration: none;
    }
  }

  .article-item:hover .article-date {
    opacity: 1;
  }
}

@media all and (max-width: 1200px) {
  body {
    padding: 3em 15%;
  }
}

@media all and (max-width: 800px) {
  body {
    padding: 1em 1em;
  }
}
