{% extends "base_layout.html" %}
{% import "macros/gen_header.html" as gen_header %}

{% block content %}
{{ gen_header::gen_header()}}
{% set article_section = get_section(path="article/_index.md") %}
<main>
    {% if article_section.pages %}
    <h2>recent posts</h2>
    <ul class="article-list">
        {% for post in article_section.pages | slice(end=15) %}
        <li class="article-item">
            <a href="{{ post.permalink }}">{{ post.title }}</a>
            <span class="article-date">{{post.date}}</span>
        </li>
        {% endfor %}
    </ul>
    <p><a href="{{ article_section.permalink }}">all posts({{ article_section.pages | length }}).</a></p>
    {% endif %}
</main>
{% endblock content %}